.react-minimap-component{
    position: relative;
    width: 100%;
    float: left;
}
.minimap-treeview{
    position: fixed;
    right: 40px;
    top: 0px;
    border: 1px solid #eee;
    width: 135px;
    height: 720px;
    overflow: hidden;
    cursor: pointer;
    padding: 8px;
}
.minimap {
    z-index : 10000;
    cursor: pointer;
    font-size: 1em;
/*    white-space: nowrap;*/
/*    position: fixed;*/
    transform-origin: 0 0;
}

.miniregion {
    z-index : 10001;
    position : fixed;
    background : #000;
    opacity: 0.2;
    border: 2px solid silver;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.miniregion.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.miniregion:hover {
    box-shadow: 0 0 0.4em darkgrey;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.minimap-overlay {
    position: absolute;
    width: 200px;
    height: 300px;
    z-index: 1;
    top: 0px;
    left: -25px;
}